<div class="section banner">
    <div class="container">
        <div class="row">
            <div class="col s12 m9">
                <h1 class="header center-on-small-only">Person details</h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col s12 m9 l12">
            <div class="section">
                <div class="col s12 m9 l12 showcase-tabs">
                    <section *ngIf="(person$ | async) as person">
                        <div class="row">
                            <span class="col-md-4">ID</span>
                            <span class="col-md-8">{{person.id}}</span>
                        </div>
                        <div class="row">
                            <span class="col-md-4">First name</span>
                            <span class="col-md-8">{{person.firstName}}</span>
                        </div>
                        <div class="row">
                            <span class="col-md-4">Last name</span>
                            <span class="col-md-8">{{person.lastName}}</span>
                        </div>
                    </section>
                    <button class="btn btn-link" (click)="goBack()">Go back</button>
                </div>
            </div>
        </div>
    </div>
</div>